In [1]:
print("Hello world")

Hello world

In [2]:
print("Habib muhammad Sabir")

Habib muhammad Sabir

In [3]:
 print("Computer Engineer")

Computer Engineer

In [4]:
a="PAKISTAN ZINDABAD"
print(a)
print(type(a))

PAKISTAN ZINDABAD
<class 'str'>

# Pre define functions
anyName() #pre define function
ref.anyName() # Pre define method
ref.anyName # Attributes

##Operators
Control flow

In [5]:
a.capitalize()

'Pakistan zindabad'

In [6]:
a.encode()

b'PAKISTAN ZINDABAD'

In [7]:
a.center(2)

'PAKISTAN ZINDABAD'

In [8]:
print?

In [ ]:
b="""Coderider
city:karachi
country:pakistan"""
print(b)

Coderider
city:karachi
country:pakistan

In [ ]:
c='''****PIAIC****
NAME:HABIB 
FATHER'S NAME:MUHAMMAD SABIR
ROLL NO:786
'''
print(c)

****PIAIC****
NAME:HABIB
FATHER'S NAME:MUHAMMAD SABIR
ROLL NO:786

In [ ]:
name="Habib"
fathername="Muhammad Sabir"
roll_no=786
form="""------PIAIC------
Name: {}
Father's Name: {}
Roll No: {}"""
print(form.format(name,fathername,roll_no))

------PIAIC------
Name: Habib
Father's Name: Muhammad Sabir
Roll No: 786

In [ ]:
a=print("pakistan")
print(a)#save the data temporery

pakistan
None

In [ ]:
abc = input(" Enter your Name ")

In [ ]:
name = input("Enter your name ")
father_name = input("Enter your Father's Name ")
roll_no = input("Enter your Roll no ")

abc = """
*******PIAIC********
Sindh Boys Scout
Name: {}
Father's Name: {}
Roll No: {}
"""

print(abc.format(name, father_name, roll_no))

In [ ]:
a="web"
b="developer"
a+b
#concatination

In [ ]:
a=5
b=2
a+b
#addition

# Operators

In [ ]:
# Pemdas
+, -, * , /, %, //, ** # Mathmatics

=, +=, -=, *=, /=, %= # Assign Operator

==, >, <, >=, <=, != # Logical Operator

and, or # Combine logic checking

In [ ]:
7//2 #ignore the remainder

In [ ]:
2**3 #power

In [ ]:
15//4.0 #when the give any float value then answer in float

In [ ]:
# 2 * 2 * 2 = 8
2 ** 3

In [ ]:
4/2 #in division answer in float and remaining operator ans define by given value

apply pemdas
4/2*6+11-3(3*2)-4**2/2
4/2*6+11-3+6-4**2/2
4/2*6+11-3+6-16/2
4/12+11-3+6-16/2
0.333+11-3+6-16/2
0.333+11-3+6-8
11.333-3+6-8
11.333-9-8
2.333-8
-5.667

In [ ]:
4/2*6+11-3+(3*2)-4**2/2
 #Order of precedence in Python

# P

# E

# M D Left to right

# A S Left to right


# =, +=, -=, *=, /=, %=, **= # Assign Operator

In [ ]:
a="Pakistan"
a

In [ ]:
a="China" #not save the assign value change by assign different value 
a

In [ ]:
a*2

In [ ]:
a="python"
a

In [ ]:
a+= " programmer" #concatinate with diferent value
a

In [9]:
a*=2
a

'abvabv'

In [ ]:
#a%=2

In [14]:
#3 * 3 * 3
a
a **= 2
a

1

In [16]:

a = "abv"
a **= 2
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'


# ==, >, <, >=, <=, !=, <> # Logical Operator

In [17]:
5==5

True

In [18]:
5==3

False

In [19]:
5>3

True

In [21]:
5<3

False

In [20]:
5>5

False

In [24]:
5==5 and 6>=4 and 10 <= 14
#true and true and true 
#true

True

In [25]:
5==5 and 6<=4 and 10 <= 14
#true and false and true 
#false

False

In [26]:
5 == 7 or 6 <= 7 or 10 >= 11
# False or True or False
# True

True

In [28]:
True|False #or

True

In [29]:
True & False & False #and

False

In [30]:
a="xyz"
b="abc"
c="27"
a+b+c

'xyzabc27'

In [31]:
a="xyz"
b="abc"
c="27"
print(a,b,c)

xyz abc 27

In [36]:
a="xyz"
b="abc"
c=27
a+b+c #not concate with int and str both only concate with str values

TypeError: can only concatenate str (not "int") to str

In [37]:
a="xyz"
b="abc"
c=27
print(a,b,c)
#print str and int both

xyz abc 27

In [38]:
a="xyz"
b="abc"
c=27
a+b+str(c) #type casting

'xyzabc27'

In [39]:
a='1'
b='2'
a+b #its concate not sum with str

'12'

In [40]:
a= input()
b= input()
a+b

2
4

'24'

In [41]:
int(a)+int(b) #typecasting

6

In [43]:
float(a)+float(b)

6.0

In [44]:
import this #poem of python

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Control Flow
loop (for , while) exception if else elif switch

# If, else, elif
if logic: true value else: false valueif logic1: true value 1 elif logic2: true value 2 elif logic3: true value 3 else: false valueif logic1 and logic2 and logic3: value true else: false value

In [45]:
name = input("Enter your name")
if name == "habib":
    print("Right")
else:
    print("Wrong")

Enter your namehabib
Right

In [46]:
name = input("Enter your name")
if name.lower()=="habib":
    print("login")
else:
    print("login again")

Enter your namehaBib
login

In [47]:
per = 78

if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per>=50:
    print("C")
elif per>=60:
    print("B")
elif per>=70:
    print("A")
elif per>=80:
    print("A+")

Fail

In [48]:
per = 79

if per >= 0 and per <33:
    print("Fail")
elif per >= 33 and per<40:
    print("E")
elif per >= 40 and per<50:
    print("D")
elif per>=50 and per<60:
    print("C")
elif per>=60 and per<70:
    print("B")
elif per>=70 and per<80:
    print("A")
elif per>=80 and per<=100:
    print("A+")
else:
    print("Not valid")

A

In [50]:
per = 88
if per>=80:
    print("A+")
elif per>=70:
    print("A")
else:
    print("Fail")

A+

In [52]:
names=['Habib','qasim','ali']
names

['Habib', 'qasim', 'ali']

In [53]:
names[2] #ref[index number] start from 0

'ali'

In [56]:
names[2]='kashif'
names

['Habib', 'qasim', 'kashif']

In [58]:
names =[]
while True:
    a = input("name")
    if a!= 'x':
       names.append(a)
    else:
        break
names

nameali
namehabib
nameqasim
namesaad
nameshoaib
namehassan
namesaleem
nameamin
namex