two input and add them

In [ ]:
a= int(input("First"))
b= int(input ("Second"))
c=a+b
print(c)
x=a
a=b
b=x
print(a)
print(b)

In [7]:
a=int(input("First"))
if a%2==0:
    print("Even")
else:
    print("odd")

First7
odd

even hy c ki value even print wrna odd

In [28]:
#ek list hy 1 to 10 list ka phla element ka square or cube tuple ma dalna hy or uska phla element dusri list ma dalna hy
l2=[]
l1=list(range(1,11))
for x in l1:
    T=((x**2),(x**3))
    l2.append(T)
print(l2)

[(1, 1), (4, 8), (9, 27), (16, 64), (25, 125), (36, 216), (49, 343), (64, 512), (81, 729), (100, 1000)]

In [41]:
#sorted second last column
l1=[
    (1,2,3,4),
    (5,6,7,8),
    (1,3,5,7)
]
sorted(l1,key=lambda x: x[2])
#print(sorted(l1[1]))

[(1, 2, 3, 4), (1, 3, 5, 7), (5, 6, 7, 8)]

In [59]:
#["a","b","c,"d","e"] input
#[(0,"a"),(1,"b"),(2,"c"),(3,"d"),(4,"e")] output
l1=["a","b","c","d","e"]
for x in range(0,len(l1)):
    l2=list((x),(len(l1))
print(l2)

SyntaxError: invalid syntax (<ipython-input-59-1862476df614>, line 6)

last and second last column

In [62]:
l1=[
    (3,4,4,9),
    (9,8,2,1),
    (5,9,1,6)
]
sorted(l1,key=lambda x: x[2])

[(5, 9, 1, 6), (9, 8, 2, 1), (3, 4, 4, 9)]

In [68]:
#dictionary ko sort krne ke liye new dictionary bani hy
# {"a":1,
# "b":9,
# "c":4,
# "d":3
# }
# output 
# {"a":1,
# "b":3,
# "c":4,
# "d":9
# }
D1={"a":1,
"b":9,
"c":4,
"d":3
}
print(D1)
for x in D1:
    print(x)

{'a': 1, 'b': 9, 'c': 4, 'd': 3}
a
b
c
d

In [69]:
str="cat dog cat dog elephent cat elephent"
#output
# "cat":3,
#  "dog":2,
#  "elelphant:2"
 l1=str.split()

IndentationError: unexpected indent (<ipython-input-69-301389ed028e>, line 2)

In [ ]:
#function bano or 2 value pass kro 1 ki limit or 2sri square ki range 
# abc(5,3)
# {
#     [1,1,1]
#     [2,4,8]
#     ......
#     [5,25,125]
# }